html[pageIndex] body {
	margin: 0px;
	color:white;
	background: linear-gradient(0deg, rgba(89, 75, 75, 0.5), 
		rgba(89, 75, 75, 0.5)), url(../img/background-index.jpg) no-repeat;
	background-size: 100%;
	
}

.logo-uvsq {
	width: 200px;
	border-radius: 10px;
	margin: 37px;
}

html[pageIndex] .titre {
	margin-top: 150px;
	font-weight: 900;
	font-family: Roboto;
	text-align: center;
	font-size: 72px;
}

.interface-connexion {
	display: inline;
	text-align: center;

}

form {
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

/*Bouton Login et Password*/
.interface-connexion input {

	
	display:block; /* Disposition des boutons */
	width: auto; /* Défini l'épaisseur des boutons */

	/* Centre les boutons */
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

	/* Gestion des couleurs */
	color:white;
	background-color: transparent;

	/* Centre le text à l'intérieur des boutons */
	text-align: center;

	/* Enlève la bordure des boutons */
	border:0;
	outline:0;
	
	font-size:20px;
}

.interface-connexion input:focus {
	outline:0;
}

::-webkit-input-placeholder {
   color: lightgrey;
}

/*Bouton Log In*/
.interface-connexion .bouton-login {
	background-color: #007ba4;
	margin-top: 65px;
	width: 262px;
	height: 84px;
	font-size: 30px;
	transition: all 0.10s;
}

.interface-connexion .bouton-login:hover {
	background-color: rgb(105,4,60);
}

.interface-connexion .bouton-login:focus {
	background-color: rgb(105,4,60);
}

.interface-connexion .bouton-login:active {
	background-color: #69043C90;
}


.interface-connexion input[type="text"],
.interface-connexion input[type="password"] {
	padding: 0 0 0.4em 0;
	border-bottom: 2px solid white;
	width: 9em;
	-webkit-appearance:none;
}

@media only screen and (max-height: 900px) {
	html[pageIndex] .titre {
		margin-top: 0px;
	}
}